<main *ngIf="userData" class="color-soft">
  <div class="userData">
    <img class="avatar" src="assets/images/users/avatar-default.jpg" alt="avatar">
    <h2>{{userData?.firstname + " " + userData?.lastname}}</h2>
    <p>Alias: {{userData?.alias}}</p>
    <p>CBU: {{userData?.cbu}}</p>
    <p>Email: {{userData.email}}</p>
  </div>

  <div class="balances color-strong">
    <div>
      <h4>Balances:</h4>
    </div>
    <div class="accountBlc">
      <p>$ {{userData?.cta_$.toFixed(2)}}</p>
      <p> U$$ {{userData?.cta_u$$.toFixed(2)}}</p>
    </div>
  </div>

  <div class="transList">
    <h3>Last Transactions: </h3>
    <ul>
      <app-transfers-list [data] ="userData"></app-transfers-list>
    </ul>
  </div>
</main>

<main *ngIf="!userData" class="color-soft">
  <div class="userData">
    <h2>404 User not found!</h2>
    <p>Please wait a few minutes and try login again.</p>
  </div>
</main>

